<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>5.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0</real>
				<key>Green</key>
				<real>0</real>
				<key>Blue</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>JohnErdogan</string>
	<key>CFBundleDisplayName</key>
	<string>Commander Cat Hat</string>
	<key>UIStatusBarHidden</key>
	<true/>
</dict>
</plist>
